header {
 padding:  20px;  
 
}

body {
    background-image: url(https://graphicriver.img.customer.envatousercontent.com/files/130801981/preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&w=590&h=590&s=d398af71adf0997ecd5354c61e038e51);
    background-repeat: no-repeat;
    background-size: 100%;      
    
}

#contentRow {
    background-color: khaki;
    margin: 80px 40px;
    height: 100%;
    text-align: center;
    height: 600px;
}

#timeRemaining-text {
font-size: 20px;
color: red;
}

#done-text {
    display: none;
    font-size: 40px;
    color: blue;
    text-align: center;
}

.questions {
    display: none;
    
}

#startButton {
    width: 300px;
    height: 100px;
    margin-top: 60px;
    font-size: 34px;
}

button {
    width: 300px;
    height: 80px;
    margin-top: 40px;
    font-size: 34px;
}

#correct-text {
    display: none;
    font-size: 30px;
    text-align: center;
}

#incorrect-text {
    display: none;
    font-size: 30px;
    text-align: center;
}
#unanswered-text {
    display: none;
    font-size: 30px;
    text-align: center;
}